.exploring-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    @media (max-width: 980px){
        flex-direction: column;
        gap: 50px;
    }
}
.exploring-box-left-title{
    font-family: var(--font-family);
font-weight: 700;
font-size: 48px;
line-height: 120%;
color: var(--black);
max-width: 608px;
 @media (max-width: 980px){
       text-align: center;
    }
}
.exploring-box-left-text{
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
color: var(--gray-dark);
max-width: 608px;
margin-top: 24px;
 @media (max-width: 980px){
       text-align: center;
    }
}
.exploring-box-left-btn{
    display: flex;
    gap: 10px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 18px;
color: var(--black);
align-items: center;
border: 1px solid var(--black);
border-radius: 100px;
padding: 18px 22px;
width: 210px;
height: 61px;
margin-top: 24px;
background-color: transparent;
 @media (max-width: 980px){
    
     margin: 0 auto;
     margin-top: 50px;
    }
}
.exploring-box-right-img {
    display: block;
    width: 100%;
}