.moments{
    margin-top: 80px;
}
.moments-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1270px) {
        flex-direction: column;
        gap: 50px;
    }
}
.moments-title{
    font-family: var(--font-family);
font-weight: 700;
font-size: 48px;
line-height: 120%;
text-align: center;
margin: 0 auto;
margin-bottom: 40px;
color: var(--black);
max-width: 608px;
}
.moments-box-right-list{
width: 589px;
display: flex;
flex-direction: column;
}
.moments-box-right-list-item{
   border-bottom: 1px solid #eee;
   padding: 12px;
   width: 100%;
}
.moments-box-right-list-item-btn{
    border: none;
    background: transparent;
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
color: var(--black);
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
color: var(--black);
}
.moments-box-right-list-item-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: var(--gray-dark);
max-width: 560px;
margin-top: 12px;
padding-left: 8px;
line-height: 22px;

}