.moments{
    margin-top: 80px;
}
.moments-title{
    font-family: var(--font-family);
font-weight: 700;
font-size: 48px;
line-height: 120%;
text-align: center;
margin: 0 auto;
margin-bottom: 40px;
color: var(--black);
max-width: 608px;
}