@import "./reset";
.container{
max-width: 1240px;
    margin: 0 auto;
}
@import "./header";
@import "./adventure";
@import "./exploring";
@import "./events";
@import "./plan";
@import "./reviews";
@import "./moments";